<!DOCTYPE html>
<html>

<head>

</head>
<style>
    body {
        background-color: rgb(247, 255, 247);

    }

    textarea {}

    div {}

    #evaluate_code_beginner_task1_p1,
    #button_ask_chatgpt,
    #button_finish {
        cursor: pointer;
        background-color: #ceffed;
        transition-duration: 0.4s;

    }

    #evaluate_code_beginner_task1_p1:hover,
    #button_finish:hover {
        background: #90EE90;
        transition: all 0.8s
    }

    .div_history {
        margin-bottom: .5em;
        border: green solid 1px;
        border-radius: .5em;

    }

    .div_left_task1,
    .div_right_task1 {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        padding: .5em;
        height: 100%;


    }

    .div_left_task1 {
        border-right: green solid 1px;
    }

    .div_right_task1 {
        border-left: green solid 1px;
    }

    .p_right_task1,
    .p_left_task1 {
        background-color: rgb(202, 255, 228);
        border-radius: .5em;
        padding: .5em;

    }

    .p_left_task1_date,
    .p_right_task1_date {
        display: none;
    }
</style>

<script>
    // document.oncontextmenu = Do_Not_Copy();
    function Do_Not_Copy() {
        console.log("don't copy");
        alert("This activity aims to learning GPT prompt writing, Please don't copy text to chatGPT");
    }
    function validate_ID() {
        return true;
        id = document.getElementById("student_id").value;
        // console.log(id);
        if (id.length < 5) {
            document.getElementById("student_idmessage").innerHTML = "invalid ID";
            return false;
        }

        return true;
    }

    answers = 1;
    const div_ids = [];  // none repeative ids
    function makeid() {
        let length = 6
        let result = '';
        let counter = 0;
        while (counter < length || div_ids.includes(result)) {
            result = '';
            counter = 0;
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
            const charactersLength = characters.length;
            while (counter < length) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
                counter += 1;
            }
        }
        div_ids.push(result);
        return result;
    }

    function Texarea_Height() {
        document.getElementById("system_msg").style.display = "none";
        text_areas = document.getElementsByTagName("textarea");
        for (text_area of text_areas) {
            text_area.style.height = (text_area.scrollHeight - 13) + "px";
        }
    }

    current_level = "beginner";
    current_task = "1";


    function button_submit_task(task_number) {
        subject = document.getElementById("subject_id").value;
        if (document.getElementById("subject_id").value.length < 3) {
            document.getElementById("subject_idmessage").style.display = "inline-block";
            document.getElementById("subject_idmessage").innerHTML = "Invalid Input";
            return;
        }
        if (!validate_ID()) {
            return
        }
        if (task_number == 1) {
            var textarea_code_beginner_task_send = document.getElementById("textarea_code_beginner_task1").value.replace(/\n/g, " <br> ");
            if (textarea_code_beginner_task_send.length < 10) {
                document.getElementById("system_msg_task1").style.display = "block";
                document.getElementById("system_msg_task1").innerHTML = "Invalid Input";
                return;
            }
            document.getElementById("button_submit_task1").disabled = true;
            document.getElementById("textarea_code_beginner_task1").disabled = true;
        }
        if (task_number == 2) {
            var textarea_code_beginner_task_send = document.getElementById("textarea_code_beginner_task2").value.replace(/\n/g, " <br> ");
            if (textarea_code_beginner_task_send.length < 10) {
                document.getElementById("system_msg_task2").style.display = "block";
                document.getElementById("system_msg_task2").innerHTML = "Invalid Input";
                return;
            }
            document.getElementById("button_submit_task2").disabled = true;
            document.getElementById("textarea_code_beginner_task2").disabled = true;
        }
        if (task_number == 3) {
            var textarea_code_beginner_task_send = document.getElementById("textarea_code_beginner_task3").value.replace(/\n/g, " <br> ");
            if (textarea_code_beginner_task_send.length < 10) {
                document.getElementById("system_msg_task3").style.display = "block";
                document.getElementById("system_msg_task3").innerHTML = "Invalid Input";
                return;
            }
            document.getElementById("button_submit_task3").disabled = true;
            document.getElementById("textarea_code_beginner_task3").disabled = true;
        }
        var user_id = document.getElementById("student_id").value;



        var xhttp1 = new XMLHttpRequest();
        xhttp1.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.responseText == "-1") {
                    if (task_number == 1) {
                        document.getElementById("system_msg_task1").innerText = "answer already submited before";
                        document.getElementById("system_msg_task1").style.display = "block";
                    }
                    if (task_number == 2) {
                        document.getElementById("system_msg_task2").innerText = "answer already submited before";
                        document.getElementById("system_msg_task2").style.display = "block";
                    }
                    console.log("answer already submited before");
                    document.getElementById("feedback").style.display = "block";

                } else {
                    console.log(this.responseText);
                    window.open("/download?full_path=" + this.responseText, "_blank");
                    if (task_number == 1) {
                        document.getElementById("system_msg_task1").innerText = "Answer Saved";
                        document.getElementById("system_msg_task1").style.display = "block";
                        document.getElementById("system_msg_task1").style.color = "green";
                    }
                    if (task_number == 2) {
                        document.getElementById("system_msg_task2").innerText = "Answer Saved";
                        document.getElementById("system_msg_task2").style.display = "block";
                        document.getElementById("system_msg_task2").style.color = "green";

                    }
                    document.getElementById("feedback").style.display = "block";

                }
            }
        };

        xhttp1.open("POST", "/store_task?id=" + user_id + "&code_beginner_task=" + textarea_code_beginner_task_send + "&task_number=" + task_number + "&subject=" + subject);
        xhttp1.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp1.send();
    }

    function level_change() {
        document.getElementById("task1").style.display = "none";
        document.getElementById("task2").style.display = "none";
        document.getElementById("task3").style.display = "none";
        if (document.getElementById("target_task").value == "Beginner") {
            document.getElementById("task1").style.display = "";
        }
        if (document.getElementById("target_task").value == "Advanced") {
            document.getElementById("task2").style.display = "";
        }
        if (document.getElementById("target_task").value == "Intermediate") {
            document.getElementById("task3").style.display = "";

        }

    };

    function open_chatgpt() {
        window.open("/chatgpt?id=" + document.getElementById("student_id").value, "_blank");
    }

    function subject_id_changed() {
        document.getElementById("subject_idmessage").disabled = true;
    }

    function student_id_changed() {
        if (document.getElementById("student_id").value.length == 7) {
            document.getElementById("target_task").disabled = false;
            document.getElementById("button_submit_task1").disabled = false;
            document.getElementById("button_submit_task2").disabled = false;
            document.getElementById("button_submit_task3").disabled = false;

        } else {
            document.getElementById("target_task").disabled = true;
            document.getElementById("button_submit_task1").disabled = true;
            document.getElementById("button_submit_task2").disabled = true;
            document.getElementById("button_submit_task3").disabled = true;

        }
    }

</script>

<body>
    <div style="color: green;direction: rtl;margin: 1em;">
        <b>
            عزيزي الطالب يسعدنا تجربتك لأداة تعليم البرمجة باستخدام ChatGPT تأكد من اتباع الخطوات التالية
                </b>
        <br>
        1.	قم بإدخال المعلومات الأساسية (رقم المادة ورمزها , رقمك الجامعي وهو ٧ خانات ثم اختر المستوى )
        <br>
        2.	سيظهر لك سؤال يتطلب كتابة كود للحل وفي حال الحاجة يمكن الضغط على زر OpenGPT  لتستطيع السؤال حسب احتياجك مع العلم يمكنك السؤال باللغة العربية او انجليزية
        <br>
        3.	بعد الانتهاء من كتابة الكود في المكان المخصص اضغط زر (Submit) 
        <br>
        4.	سيظهر لك رابط التقييم للتجربة (Google form) قم بفتحه وتقييم التجربة باستخدام نفس الرقم الجامعي

    </div>
    <br>
    <div style="color: green;margin: 1em;">
        <b>Dear student, </b>
        <br>
        &emsp;We are excited to introduce you to CodeAcadmy tool that can help you learn programming in a fun and
        interactive way.
        With ChatGPT, you can improve your coding skills by completing tasks that are tailored to your level of
        experience.
        To get started, simply choose your programming level and begin working on the tasks provided.
    </div>
    <br>
    <div style="background-color: rgb(0, 211, 0);border-radius: 10px;padding:1em;border: solid 3px green;">

        <label for="Subject">
            Enter Subject:
        </label>
        <input type="text" id="subject_id" name="subject_id" placeholder=""
            onfocus='document.getElementById("subject_idmessage").innerHTML = "";' oninput="subject_id_changed()">
        <span id="subject_idmessage" style="color:red"></span>
        &emsp;

        <label for="ID">
            Enter ID:
        </label>
        <input type="number" id="student_id" name="student_id" placeholder=""
            onfocus='document.getElementById("student_idmessage").innerHTML = "";' oninput="student_id_changed()">
        <span id="student_idmessage" style="color:red"></span>
        &emsp;
        <label for="Level">
            Select Level:
        </label>
        <select id="target_task" name="target_task" style="border-radius: .3em;" onchange="level_change()" disabled>
            <option value="" selected>Select...</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
        </select>
        &emsp;
        &emsp;
        <button class="" id="open_chatgpt" style="padding: .5em;border-radius: .5em;display: inline-block;"
            onclick="open_chatgpt()">
            Open ChatGPT
        </button>

    </div>
    <div id="task1" style="display: none;">
        <div id="task1_p1">

            <div style="width:95%;display: inline-block;margin-bottom: 1em;">
                <div style="width:63%;min-width: 400px;display: inline-block;">
                    <div  onselectstart="Do_Not_Copy()">
                        <h2 style="text-align: center;">Beginner Tasks 1</h2>
                        <b>write code to ask the user to enter
                            2 integer numbers (A and B) and use the 2 integers to
                            calculate the C value using the following formula:
                            <span style="white-space: nowrap;">C = tan (B × 2 ÷ A × 4)</span> and print C.

                        </b>
                        <br>
                        <br>
                    </div>

                    write python code:
                    <textarea type="text" id="textarea_code_beginner_task1" name="textarea_code_beginner_task1" value=""
                        style="border-radius: 10px;padding: .5em;width: 95%;height: 4em;"
                        oninput="Texarea_Height()"></textarea>
                    <p id="system_msg_task1" style="color: red;display: none;">
                    </p>
                </div>
                <div
                    style="width:30%;display: inline-block;background-color: rgb(168, 255, 222);border-radius: 1em;padding: 1em;vertical-align: top;margin: 1em;">
                    <b>Hints:</b> you must use:<br>
                    Math function<br>
                    Eval function<br>
                    Input function<br>
                    Print function<br>

                    <br>
                </div>
            </div>
        </div>


        <div class="text_areas" style="width: 60%;display: inline-block;">
            <button class="" id="button_submit_task1" style="padding: .5em;border-radius: .5em;display: block;"
                onclick="button_submit_task(1)">
                Submit
            </button>
        </div>
    </div>

    <div id="task2" style="display: none;">
        <div id="task2_p1">
            <div  onselectstart="Do_Not_Copy()">
            <h2 style="text-align: center;">Advanced Tasks 1</h2>

            <b>Using the HR scheme in oracle live sql, do the following:</b><br>

            &ensp;1. declare job_sal record type that has two fields:<br>
            &emsp;&#9679; job_title of the same type as jobs.job_title<br>
            &emsp;&#9679; avg_sal of the same type as employees.salary<br>
            &ensp;2. declare a nested table type job_sal_tbl_type where the elements are of the record type job_sal<br>
            &ensp;3. declare a nested table job_sal_tbl of type job_sal_tbl_type<br>
            &ensp;4. Write a sql query to retrieve the JOB TITLE and average SALARY from the tables JOBS and
            EMPLOYEES by calculating the average salary of all employees under (grouped) one job
            title.<br>
            &ensp;5. Store the result in job_sal_tbl using the BULK COLLECT INTO<br>
            &ensp;6. declare an associative array type job_sal_assoc where the key is job title and the value is
            average salary<br>
            &ensp;7. declare an associative array job_avg_sal of the type job_sal_assoc<br>
            &ensp;8. loop through the nested table and store the elements in the associative array<br>
            &ensp;9. loop through the associative array to print each job title with the average salary.<br>
            &ensp;10. use RPAD function to make your output clean and tidy.<br>

            <br>
            <br>
            </div>

            write code here:
            <textarea type="text" id="textarea_code_beginner_task2" name="textarea_code_beginner_task2" value=""
                style="border-radius: 10px;padding: .5em;width: 95%;height: 4em;" oninput="Texarea_Height()"></textarea>
            <p id="system_msg_task2" style="color: red;display: none;">
            </p>

        </div>

        <div class="text_areas" style="width: 60%;display: inline-block;">
            <button class="" id="button_submit_task2" style="padding: .5em;border-radius: .5em;display: block;"
                onclick="button_submit_task(2)">
                Submit
            </button>
        </div>

    </div>

    <div id="task3" style="display: none;">
        <div id="task3_p1">
            <h2 style="text-align: center;">Intermediate Tasks 1</h2>
            <img src="static/images/inter.png" style="width: 100%;">

            write code here:
            <textarea type="text" id="textarea_code_beginner_task3" name="textarea_code_beginner_task3" value=""
                style="border-radius: 10px;padding: .5em;width: 95%;height: 4em;" oninput="Texarea_Height()"></textarea>
            <p id="system_msg_task3" style="color: red;display: none;">
            </p>

        </div>

        <div class="text_areas" style="width: 60%;display: inline-block;">
            <button class="" id="button_submit_task3" style="padding: .5em;border-radius: .5em;display: block;"
                onclick="button_submit_task(3)">
                Submit
            </button>
        </div>

    </div>


    <div id="feedback" style="display: none;">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-N1RbD2Q6QYN503lCJBLXUN2wckcX3_5INu9sGpibmSziNg/viewform">
            Evaluate your experience using ChatGPT.
    </div>

</body>

</html>